body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
    color: #808080;
}

#title {
    text-align: center;
    margin: 20px;
}

#title a {
    text-decoration: none;
    color: #808080;
}

header {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 48px -12px rgba(0, 0, 0, 1);
    margin: 20px 25px;
    padding: 20px 25px;
}

.headerDivider {
    border-left: 2px solid black;
    height: 70%;
}

.active {
    font-weight: bold;
}

nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

nav a {
    font-size: 1.2rem;
    text-decoration: none;
    color: inherit;
}

nav li {
    margin-left: 10px;
    margin-right: 10px;
}

.cells-title {
    margin: 30px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 450;
}

.cells {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 20px;
    justify-content: center;
}

.cell {
    position: relative;
    padding: 15px;
    width: 30%;
    min-width: 250px;
    max-height: 300px;
    transition: transform .2s;
}

.cell img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.cell:hover {
    transform: scale(1.2);
}

.cell-text {
    position: absolute;
    background: black;
    color: #E6E6E6;
    border-radius: 5px;
    font-size: 0.8rem;
    opacity: .8;
}

.book-author {
    bottom: 15px;
    left: 15px;
}

.book-title {
    top: 15px;
    left: 15px;
}

.book-price {
    bottom: 15px;
    right: 15px;
}

p {
    text-align: center;
}
