body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
    color: #808080;
}

/* alignment for title */
#title {
    text-align: center;
    margin: 20px;
}
/* style of title */
#title a {
    text-decoration: none;
    color: #606060;
}

/* navigation bar styles */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 10px 30px -12px rgba(0, 0, 0, 1);
    margin: 20px 25px;
    background-color: #808080;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.1rem;
}

nav a:hover {
    background-color: #888888;
}

nav a.active {
    background-color: #5F5F5F;
}

.search-container {
    margin: 6px 6px 6px auto;
}

nav input[type=text] {
    border: none;
    margin-left: 0px;
}
/* Removes the arrow from search bar  */
input::-webkit-calendar-picker-indicator {
  display: none;
}


/* format the sub header */
.cells-title {
    margin: 30px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 450;
}
/* styles for cells */
.cells {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 20px;
    justify-content: center;
}

.cell {
    position: relative;
    padding: 15px;
    width: 30%;
    min-width: 250px;
    max-height: 300px;
    transition: transform .2s;
}

.cell img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.cell:hover {
    transform: scale(1.2);
}
/* general style for cells'text  */
.cell-text {
    position: absolute;
    background: black;
    color: #E6E6E6;
    border-radius: 5px;
    font-size: 1rem;
    opacity: .8;

    white-space: nowrap;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* the specific positions for cells'text */
.book-author {
    bottom: 15px;
    left: 15px;
}

.book-title {
    top: 15px;
    left: 15px;
}

.book-price {
    bottom: 15px;
    right: 15px;
}

/* style for details page */
.content {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 30px;
}

.content img {
    border-radius: 10px;
    max-width: 30%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
    transition: transform .2s;
}

.content img:hover {
    transform: scale(1.3);
}

/* style for the descriptions */
#description {
    text-align: left;
}

/* general style for all paragraph tags */
p, ol, ul {
    padding-left: 50px;
}

ol, ul {
    margin-left: 16px;
}

/* styles for ordering form */
.order-form {
    box-shadow: 0px 0px 48px -12px rgba(0, 0, 0, 0.2);
    margin: 20px 25px;
    padding: 20px 25px;
    text-align: center;
}

/* for making the table form inside the content align center */
table {
    margin: auto;
}

input[type=text], select {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-left: 10px;
    border: 1px solid #808080;
    border-radius: 2px;
    font-family: inherit;
    color: #303030;
}

input[type=submit] {
    margin: 10px;
    border: 1px solid #808080;
    padding: 10px 20px;
    border-radius: 2px;
    background-color: inherit;
}

input[type=submit]:hover {
    background-color: #F0F0F0;
}

input[name=id] {
    background-color: #C0C0C0;
}
